{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block%}
		<div>
			This tutorial has been put together by by Matus Mikus<br />
			<strong>Rango says here is the about page<br /></strong>
		</div>
		<div>
			<img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of a cat"/>
			<img src="{% static "images/triangle.jpg" %}" alt="Picture of a triangle"/>
		</div>		
		<div>
				You've visited this page {{visits}} times!
				visits: {{visits}}
		</div>
{% endblock %}